<template>
	<div class="category-view">
		<topic
			v-for="topic in topics"
			:topic="topic"
			track-by="id">
		</topic>
	</div>
</template>

<script>
	import Topic from './Topic.vue';

	export default {
		components: { Topic },
		data () {
			return {
				topics: [],
			}
		},
		created(){
			const categoryId = this.$route.params.categoryId;

        	this.$http.get(`/api/categories/${categoryId}/topics`)
				.then(function (response){
					this.topics = response.data;
				});
		}
	}
</script>
