<template>
	<div class="home-view">
		<div class="categories">
			<category
				v-for="category in categories"
				:category="category"
				track-by="id">
			</category>
		</div>
	</div>
</template>

<script>
	import Category from './Category.vue';

	export default {
		data(){
			return {
				categories: []
			}
		},
		created(){
			this.fetchCategories();
		},
		watch: {
		    // call again the method if the route changes
		    '$route': 'fetchCategories'
		  },
		methods: {
			fetchCategories(){
				this.$http.get('/api/categories')
				.then(function (response){
					this.categories = response.data;
				});
			}
		}
	}
</script>
