<template>
  <div class="Topic">
    <div class="Topic__main">
      <a class="Topic__title">
        {{ topic.title }}
      </a>
      <div class="Topic__meta">
        <span class="Topic__author">by Foo</span>
        <span class="Topic__time">{{ dateFromNow }}</span>
      </div>
    </div>
    <div class="Topic__stats">
      <span class="Topic__views">
        <span class="Topic__stat-number">
          {{ shortNumber }}
        </span>
        <small class="Topic__stat-label">
          Views
        </small>
      </span>
      <span class="Topic__comments">
        <span class="Topic__stat-number">
          6
        </span>
        <small class="Topic__stat-label">
          Replies
        </small>
      </span>
    </div>
  </div>
</template>

<script>
  import moment from 'moment';

  export default {
    props: ['topic'],
    computed: {
      dateFromNow (){
        return moment(this.topic.time, 'X').fromNow();
      },
      shortNumber(){
          var number = this.topic.views;

          if (number > 999999) {
              return (number / 1000000).toFixed(1) + 'M';
          }

          if (number > 999) {
              return (number / 1000).toFixed(1) + 'k';
          }

          return number;
      }
    }
  }
</script>

<style lang="stylus">
.Topic
  margin-bottom: 5px
  padding: 20px
  border: 1px solid #ddd
  border-radius: 1px
  display: flex
  justify-content: space-between
  align-items: center

.Topic__meta
  margin-top: 5px
  font-size: 14px
  font-weight: lighter
  color: #999

.Topic__main
  flex: 1
  padding-right: 20px

.Topic__time:before
  content: '•'
  margin-right: 5px

.Topic__stats
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.Topic__title
  font-family: "Roboto", sans-serif
  font-weight: normal
  font-size: 18px
  text-decoration: none
  color: #333

  &:hover
    text-decoration: underline
    
</style>